.page-header {
    background-color: #FFB8CA;
}
.navigation {
display: flex;
}
.nav-list {
    list-style: none;
}
.nav-item {
margin-right: 35px;
}
.nav-link {
color: #ffff;
}
.nav-btn {
background-color: #ffff;
color: #D41443;
}
