<header class="page-header">
    <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">About us</a></li>
            <li class="nav-item"><a href="" class="nav-link">How it’s made?</a></li>
            <li class="nav-item"><a href="" class="nav-link">Our products</a></li>
            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
        </ul>
        <button class="nav-btn" type="button">Buy now</button>
    </nav>
</header>
